#title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body {
    text-align: center;
}
@font-face {
    font-family: Teko;
    src: url(Teko-VariableFont_wght.ttf);
}
