#title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#test {
    text-align: center;
    font-family: Teko;
}
@font-face {
    font-family: Teko;
    src: url(Teko-VariableFont_wght.ttf);
}
