#title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body {
    text-align: center;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

